/** main code **/
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'cairo';
        box-sizing: border-box;

    scroll-behavior: smooth;
    text-decoration: none;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}
p{
    font-size: 16px;
    color:#465b52;
    margin: 15px 0 20px 0;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}
body{
    width: 100%;
}
::-webkit-scrollbar{
    width: 0;
}
/** some transitions **/

/** fade transition **/

@keyframes fade{
    0%{
        opacity: 0;
    }
      10%{
        opacity: 0.1;
    }  20%{
        opacity: 0.2;
    }  30%{
        opacity: 0.3;
    }  40%{
        opacity: 0.4;
    }  50%{
        opacity: 0.5;
    }  60%{
        opacity: 0.6;
    }  70%{
        opacity: 0.7;
    }  80%{
        opacity: 0.8;
    }  90%{
        opacity: 0.9;
    }  100%{
        opacity: 1;
    }
}


@keyframes move{
    from{
        transform: scale(0.7);
    }
    to{
        transform: scale(1);
    }
}
/**header**/
#header{
      display: flex;/**لو عايز تخليهم في النص امسح اول ستر  وي حط ال/ img جوا الnav **/
align-items:center;
    justify-content: space-between;
    padding: 20px 80px;
    width: 100%;
    background: #F5F5F5;
    box-shadow: 0 5px 15px rgba(0,0,0,0.25);
    z-index: 999;
    position: sticky;
    top: 0;
    left:0;
}
.logo{
    width: 50px;
    animation: move 0.5s linear;
}
#nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    animation: move 0.5s linear;
}
#nav-bar i{
    font-size: 20px;
}
#nav-bar li{
    position: relative;
    list-style: none;
    padding: 0 20px;
}
#nav-bar li a{
    text-decoration: none;
    color: #06283D;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease;
}
#nav-bar li a:hover,#nav-bar li a.active{
    color: #1363DF;

}

#nav-bar li a.active::after,#nav-bar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #1363DF;
    position: absolute;
    bottom: -4px;
    right: 20px;
}
#mobile{
    display: none;
    align-items: center;
}
/** hero section **/

#hero{
    background-image: url(back.jpg);
    background-position: center;
    background-size: cover;
    height: 90.2vh;
    width: 100%;
    padding: 0 80px;
    display: flex;
    background-attachment: fixed;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
#hero h4{
    color: white;
    padding-bottom: 15px;
    animation: fade 3s linear;

}
#hero h1{
    color: #1363DF;    
    animation: fade 1s linear;

}
#hero h2{
    animation: fade 1s linear;

}
#hero p{
    color: white;
    animation: fade 1s linear;
}
#hero a{
    animation: fade  1s linear;
    background-color: #1363DF;/**#088178*/
    color: white;
    font-size: 15px;
    font-weight: 800;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top:15px;
    padding-bottom:15px;
    align-items: center;
    border-radius: 10px;
    border: #1363DF solid 3px;
    transition: 1s ease-in-out;
    cursor: pointer;
}
#hero a:hover{
    background-color: transparent;
    color: white;
}

/** fauture **/
#fauture{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    animation: move 0.7s linear;
    transition: ease;
}
#fauture .fe-box{
    width:180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.08);
    border:5px solid #f5f5f5;
    border-radius: 5px;
    margin: 15px 0;
    transition: 1s ease;
}
#fauture .fe-box:hover{
    transform: scale(1.1);
}
#fauture .fe-box img{
    width:100%;
    margin-bottom: 10px;
}
#fauture .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    font-size: 12px;
    color: white;
    background-color:#1363DF; 
}
/** product1 **/
#product1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #06283D;
}
#product1 .pro-container {
display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    animation: fade 1.5s linear;
}
#product1 h2{
    padding-bottom: 30px;
    color: #47B5FF;
    text-align: left;
}
#product1 p{
    color: white;
    text-align: right;
}
#product1 .pro{
    width: 23%;
    min-width:250px;
    padding: 10px 12px;
    border: 1px solid #f5f5f5;
    border-radius: 25px;
    cursor: pointer;
    background: white;
    box-shadow: 20px 20px 34px rgba(255,255,255,0.3);
    margin: 15px 0;
    transition: 0.2s ease;
}
#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des span{
    color: #0606063;
    font-size: 12px;
}
#product1 .pro .des h5 {
    padding-top: 7px;
    color:black ;
    font-size: 14px;
}
#product1 .pro .des i{
    font-size: 12px;
    color: rgba(243,181,25);
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color:#1363DF;
}

/** footer **/
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer col{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
        animation:  fade 2s linear;

}
footer .logo{
     margin-bottom: 30px;
    animation:  move 10s linear;
}
footer h4{
    font-size: 18px;
    padding-bottom: 20px;
        animation:  fade 2s linear;

}
footer p{
    font-size: 15px;
    margin: 0 0 8px 0;
    color:#6D8299;
        animation:  fade 2s linear;

}
footer .follow{
    margin-top: 20px;
    animation:  fade 2s linear;
}
footer .follow i{
    color:#1363DF;
    font-size: 30px;
        animation:  fade 2s linear;

}
footer .col-payment img{
    animation:  fade 5s linear;
    margin:10px 0 15px 0;
}

/** responsive **/
@media (max-width:799px){
    section
    #nav-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: white;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
}
    #nav-bar.active{
        right: 0;
    }
    #nav-bar li{
        margin-bottom: 25px;
    }
    #mobile{
    display: flex;
    align-items: center;
}
    #mobile i{
        color:#1363DF;
        font-size: 20px;
        padding-left: 20px;
    }
    #close{
        position: absolute;
        top: 30px;
        left: 30px;
        color: black;
        font-size: 24px;
    }
    #hero{
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 20%;
    }
    .section-p1{
        padding: 40px 40px;
    }
    #feature{
        justify-content: center;
        
    }
    #feature .fe-box{
        margin: 15px 15px;
    }
    #product1 .pro-container{
        justify-content: center;
    }
    #product1 .pro{
        margin: 15px;
    }
}
@media (max-width: 477px){
    .section-p1{
        padding: 20px 20px;
    }
    #header{
        padding: 10px 30px;
    }
    h1{
        font-size: 38px;
    }
    h2{
        font-size: 32px;
    }
    #hero{
        padding: 0 20px;
        background-position: 55%;
    }
    #feature{
        justify-content: center;
        align-items: center;
        
    }
    #feature .fe-box{
        width: 155px;
        margin: 0 0 15px 0;
    }
    #product1 .pro{
        width: 100%;
    }
}
